doctype html
html
head
  title Property Buddy
  meta(charset='utf-8')
  style.
    body {
      font-family: sans-serif;
      font-size: 44px !important;
      text-align: center;
      color: #383838;
    }
    
    #EMS {
      background: #ffb3ec;
    }
    
    .flood {
      background: #C1ECFA;
    }
    
    .hydrants {
      background: #ffb3b3;
    }

    .libraries {
      background: #ffcc99;
    }
    
    .neighborhoods {
      background: #e6ccb3;
    }
    
    .parks {
      background: #dff0d8;
    }
    
    #Police {
      background: #b3c6ff;
    }
    
    .recCenters {
      background: #ffffb3;
    }

    .schools {
      background: #f1daf1;
    }
    
    .p-lg {
      font-size: 80px;
      margin: 0px;
    }
    
    .p-sm {
      font-size: 36px;
      margin: 0px;
    }
    
    #Elementary,
    #Middle,
    #High {
      font-size: 36px !important;
      margin: 0px;
    }

    .preamble {
      margin-top: 20px;
      margin-bottom: 0px;
    }

    ._0 {
      background-color: #ffffff;
    }

    ._50 {
      background-color: #55ff00;
    }

    ._55 {
      background-color: #80ff00;
    }

    ._60 {
      background-color: #aaff00;
    }

    ._65 {
      background-color: #d5ff00;
    }

    ._70 {
      background-color: #ffff00;
    }

    ._75 {
      background-color: #ffd500;
    }

    ._80 {
      background-color: #ff5500;
    }

    ._85 {
      background-color: #ff0000;
    }
  link(rel='stylesheet',  href="/bower_components/bootstrap/dist/css/bootstrap.min.css")
body
  div(class="container")
    div(class="row")
      div(class="col-md-1 col-lg-1")
      div(class="col-xs-12 col-sm-12 col-md-10 col-lg-10")
        div(id="location")
          p Getting Location...
        div(class="row")
          div(class="col-md-2 col-lg-2")
          div(id="aicuz" class="col-xs-12 col-sm-12 col-md-8 col-lg-8")
            p Getting AICUZ Noise Level...
          div(class="col-md-2 col-lg-2")
        div(class="row")
          div(class="col-md-2 col-lg-2")
          div(class="col-xs-3 col-sm-3 col-md-1 col-lg-1 _50")
            t 50
          div(class="col-xs-3 col-sm-3 col-md-1 col-lg-1 _55")
            t 55
          div(class="col-xs-3 col-sm-3 col-md-1 col-lg-1 _60")
            t 60
          div(class="col-xs-3 col-sm-3 col-md-1 col-lg-1 _65")
            t 65
          div(class="col-xs-3 col-sm-3 col-md-1 col-lg-1 _70")
            t 70
          div(class="col-xs-3 col-sm-3 col-md-1 col-lg-1 _75")
            t 75
          div(class="col-xs-3 col-sm-3 col-md-1 col-lg-1 _80")
            t 80
          div(class="col-xs-3 col-sm-3 col-md-1 col-lg-1 _85")
            t 85
          div(class="col-md-2 col-lg-2")
        div(class="row")
          div(class="col-md-2 col-lg-2")
          div(class="col-xs-12 col-sm-12 col-md-8 col-lg-8 flood")
            div(id="flood")
              p Getting Flood Zone...
          div(class="col-md-2 col-lg-2")
        div(class="row")
          div(class="col-md-2 col-lg-2")
          div(class="col-xs-12 col-sm-12 col-md-8 col-lg-8 ems")
            div(id="EMS" class="row")
              p EMS
              p(id="ems-response-avg") ...
          div(class="col-md-2 col-lg-2")
        div(class="row")
          div(class="col-md-2 col-lg-2")
          div(class="col-xs-12 col-sm-12 col-md-8 col-lg-8")
            div(id="Police" class="row")
              p Police
              p(id="police-response-avg") ...
              p Calls past 30 days
              p(id="police-calls") ...
              p Incidents past 30 days
              p(id="police-incidents") ...
          div(class="col-md-2 col-lg-2")
        div(class="row")
          div(class="col-md-2 col-lg-2")
          div(class="col-xs-12 col-sm-12 col-md-8 col-lg-8 schools")
            p Schools within 3 miles
            div(id="schools" class="row")
              div(id="Elementary" class="col-xs-4 col-sm-4 col-md-4 col-lg-4")
                p Elementary...
              div(id="Middle" class="col-xs-4 col-sm-4 col-md-4 col-lg-4")
                p Middle...
              div(id="High" class="col-xs-4 col-sm-4 col-md-4 col-lg-4")
                p High...
          div(class="col-md-2 col-lg-2")
        div(class="row")
          div(class="col-md-2 col-lg-2")
          div(class="col-xs-12 col-sm-12 col-md-8 col-lg-8 parks")
            div(id="parks")
              p Getting Parks...
          div(class="col-md-2 col-lg-2")
        div(class="row")
          div(class="col-md-2 col-lg-2")
          div(class="col-xs-12 col-sm-12 col-md-8 col-lg-8 parks")
            div(id="parks-closest")
              p Closest Park
              p(id="closest-park") ...
          div(class="col-md-2 col-lg-2")
        div(class="row")
          div(class="col-md-2 col-lg-2")
          div(class="col-xs-12 col-sm-12 col-md-8 col-lg-8 libraries")
            div(id="libraries")
              p Closest Library
              p(id="closest-library") ...
          div(class="col-md-2 col-lg-2")
        div(class="row")
          div(class="col-md-2 col-lg-2")
          div(class="col-xs-12 col-sm-12 col-md-8 col-lg-8 recCenters")
            div(id="recCenters")
              p Closest Recreation Center
              p(id="closest-recCenter") ...
          div(class="col-md-2 col-lg-2")
        div(class="row")
          div(class="col-md-2 col-lg-2")
          div(class="col-xs-12 col-sm-12 col-md-8 col-lg-8 hydrants")
            div(id="hydrants")
              p Closest Public Hydrant
              p(id="closest-hydrant") ...
          div(class="col-md-2 col-lg-2")
        div(class="row")
          div(class="col-md-2 col-lg-2")
          div(class="col-xs-12 col-sm-12 col-md-8 col-lg-8 neighborhoods")
            div(id="neighborhoods")
              p Nearby Neighborhoods
              p(id="nearby-neighborhoods") ...
          div(class="col-md-2 col-lg-2")
      div(class="col-md-1 col-lg-1")
      div(id="invisibleMap")
      input(type="hidden" id="config" value=""+config)
      script(src="//d3js.org/d3.v3.min.js")
      script(src="//d3js.org/d3-collection.v1.min.js")
      script(src="//d3js.org/d3-dispatch.v1.min.js")
      script(src="//d3js.org/d3-dsv.v1.min.js")
      script(src="//d3js.org/d3-request.v1.min.js")
      script(src="//d3js.org/d3-array.v1.min.js")
      script(src="//d3js.org/d3-geo.v1.min.js")
      script(src="/bower_components/jquery/dist/jquery.min.js")
      script(src="/bower_components/bootstrap/dist/js/bootstrap.min.js")
      link(rel="stylesheet"     
          href="https://unpkg.com/leaflet@1.1.0/dist/leaflet.css",
          integrity="sha512-wcw6ts8Anuw10Mzh9Ytw4pylW8+NAD4ch3lqm9lzAsTxg0GFeJgoAtxuCLREZSC5lUXdVyo/7yfsqFjQ4S+aKw==",
          crossorigin="")
      script(src="https://unpkg.com/leaflet@1.1.0/dist/leaflet.js",
      integrity="sha512-mNqn2Wg7tSToJhvHcqfzLMU6J4mkOImSPTxVZAdo+lcPlk+GhZmYgACEe0x35K7YzW1zJ7XyJV/TT1MrdXvMcA==",
      crossorigin="")
      script(src="https://unpkg.com/esri-leaflet@2.1.0/dist/esri-leaflet.js",
      integrity="sha512-Tojl3UMd387f6DdAJlo+fKfJZiP55fYT+6Y58yKbHydnueOdSFOxrgLPuUxm7VW1szEt3hZVwv3V2sSUCuT35w==",
      crossorigin="")
      script(src="/js/geo.js")
      
  
